{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block content %}
<div class=text-box>
    <h2>About</h2>

    <p>
        Please provide a brief description of the project here.
    </p>

    <h2> Methodology</h2>

    <p>
        Please provide a brief description of the project here.
    </p>

    <h2>Publications/Ciataions</h2>

    <p>
        Please provide a brief description of the methodology here.
    </p>


    <h2>Links</h2>
    <ul>
        <li> <a href="https://geodesy.earth.miami.edu" target="_blank">Geodesy Lab</a> </li>
        <li> <a href="https//github.com/geodesymiami" target="_blank">GitHub</a> </li>
    </ul>
</div>
{% endblock %}
