{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block content %}
<div class=text-box>
    <h2>About</h2>

    <p>
There are indications that active volcanoes are more likely to erupt during periods of increased precipitation because the infiltrated rainwater weakens the rock.   This website provides rainfall information for active volcanoes in order to asses how eruption likelihood may be affected by precipitation.
    </p>

    <h2> Methodology</h2>

    <p>
This website displays satellite-derived precipitation information from the NASA/JAXA Tropical Rainfall Measurement Mission (TRMM) and the Global Precipitation Measurement missions starting in June 2000, together with eruption data of the Global Volcano Program (GVP).

The precipitation data are shown and sorted in terms of 90-day rolling averages. Volcanoes sensitive to infiltrated precipitation can be recognized by  eruptions occurring at days of elevated 90-day precipitation (dark green-shaded tertile). A publication is in preparation.
    </p>

    <h2>Publications/Ciataions</h2>

    <p>
Initial work that led to the development of the website:


Farquharson, J., F. Amelung (2020);  Extreme rainfall triggered the 2018 rift eruption at Kīlauea Volcano, Hawaii, Nature,  580(7804), 491-495.

Farquharson J. I., Amelung F. (2022). Volcanic hazard exacerbated by future global warming-driven increase in heavy rainfall. R. Soc. open sci.9220275220275, http://doi.org/10.1098/rsos.220275


Credits: Falk Amelung, Jonathan Quartin, Giaccomo Di Silvestro, University of Miami, Florida, USA.
    </p>


    <h2>Links</h2>
    <ul>
        <li> <a href="https://geodesy.earth.miami.edu" target="_blank">Geodesy Lab</a> </li>
        <li> <a href="https//github.com/geodesymiami" target="_blank">GitHub</a> </li>
    </ul>
</div>
{% endblock %}
