<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.12.0/mapbox-gl.css' rel='stylesheet' />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/table.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/button.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/plots.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <title>{% block title %}{% endblock %}</title>
    {% block extra_styles %}{% endblock %}
</head>

<body>
    <header>
        <div class="header-content">
            <div class="title-and-toggle">
                <a href="{{ url_for('index') }}" class="nav-link">
                    <h1>Rain rain go away</h1>
                </a>
                <button id="navbar-toggle" aria-label="Toggle navigation"> ☰ </button>
            </div>
            <script>
                document.addEventListener('DOMContentLoaded', function () {
                    var navbarToggle = document.getElementById('navbar-toggle');
                    var navbar = document.querySelector('.navbar');

                    navbarToggle.addEventListener('click', function () {
                        navbar.classList.toggle('active');
                    });
                });
            </script>
            <div id="um-logo">
                <a href="https://geodesy.earth.miami.edu" target="_blank">
                    <img src="{{ url_for('static', filename='images/logo_geodesylab.png') }}" alt="Logo">
                </a>
            </div>
            <nav class="navbar">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('index') }}">Map</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('volcanoes_list') }}">Volcanoes List</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <div class="footer-content">
            <p>&copy; 2024 Volcano Map</p>
            <a href="https://github.com/geodesymiami" target="_blank" id="github-logo">
                <img src="{{ url_for('static', filename='images/github-mark-white.png') }}" alt="GitHub">
            </a>
        </div>
        <p>Website made by Kawan Amelung</p>
    </footer>
</body>

</html>
