{% extends "base.html" %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Interactive Volcano Map</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.12.0/mapbox-gl.css' rel='stylesheet' />
    <style>
        #map {
            height: 600px;
        }
        #map-logo {
            position: absolute;
            top: 10px;
            right: 10px;
            z-index: 1000; /* Ensure it's above map controls */
            padding: 10px;
            border-radius: 5px;
            /* Remove background color and border */
            background-color: transparent;
            border: none;
        }
    </style>
    <!-- Logo element -->
    <div id="map-logo">
        <a href="https://geodesy.earth.miami.edu" target="_blank">
            <img src="{{ url_for('static', filename='images/logo_geodesylab.png') }}" alt="Logo">
        </a>
    </div>
</head>
<body>
    <h1>Rain makes volcanoes go boom.</h1>
    <div id="map-container"></div>
        <div id="map"></div>
    </div>
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.12.0/mapbox-gl.js'></script>
    <script>
        var mapboxAccessToken = "{{ mapbox_access_token }}";
    </script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
{% endblock %}
