{% extends "base.html" %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Interactive Volcano Map</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <style>
        #map {
            height: 600px;
        }
        #map-logo {
            position: absolute;
            top: 10px;
            right: 10px;
            z-index: 1000; /* Ensure it's above map controls */
            padding: 10px;
            border-radius: 5px;
            /* Remove background color and border */
            background-color: transparent;
            border: none;
        }
        #map-logo img {
            height: 50px; /* Adjust as needed */
        }
    </style>
    
    <!-- Logo element -->
    <div id="map-logo">
        <img src="{{ url_for('static', filename='images/logo_geodesylab.png') }}" alt="Logo">
    </div>
</head>
<body>
    <h1>Rain makes volcanoes go boom.</h1>
    <div id="map"></div>
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script>
        var mapboxAccessToken = "{{ mapbox_access_token }}";
    </script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
{% endblock %}
